* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}
nav{
    position: fixed;
    text-transform: uppercase;
    background-color: #111;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1.5vw 11vw;
    width: 100vw;
    height: 12vh;
    z-index: 3;
    /* opacity: 0.5; */
}
nav h1{
    font-size: 2vw;
}
.nav-part2{
    display: flex;
    gap: 1vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
    /* background-color: aqua; */
}

.nav-part2 h4{
    font-weight: 400;
    font-size: 1vw;
    text-transform: uppercase;
    margin-bottom: 2vw;
    cursor: pointer;
    height: 2vw;
}
.nav-part2 h5{
    margin-bottom: 1vw;
    display: none;
    overflow-y: hidden;
    cursor: pointer;
}

.nav-part2 h5 span{
    font-weight: 400;
    font-size: 0.9vw;
    text-transform: capitalize;
    display: inline-block;
    padding-left: 0.2vw;
    transform: translateY(25px);
}
#nav-bottom{
    border-bottom: 2px solid #dadada;
    height: 0vh;
    width: 78%;
    position: absolute;
    top: 100%;
    transition: all ease 0.5s;
    z-index: 9;
    background-color: #111;
}

.bottom-div h5{
    font-weight: 100;
    margin-bottom: 1.1vw;
    cursor: pointer;
}
nav button{
    background-color: #0DA34E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw 1vw;
    gap: 2vw;
    border-radius: 3vw;
    border: 0;
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 600;
    cursor: pointer;
}


#page1{
    width: 100%;
    height: 100vh;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#page1 h1{
    text-transform: uppercase;
    font-size: 8vw;
    line-height: 8vw;
    font-weight: 900;
    display: flex;
    align-items: center;
}
#page1 span{
    width: 6vw;  
    height: 6vw;  
    border-radius: 50%;  
    background-color: #0DA34E;  
    display: flex;  
    justify-content: center;  
    align-items: center;
    
}

#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 30px;
}
#page1-tags{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    margin-top: 20px;
    gap: 10px;
}
#page1-tags h4{
    font-weight: 400;
    font-size: 1.12vw;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
}
#page1-tags h4:nth-last-child(2){
    color: #0DA34E;
    background-color: #0da34e25;
    cursor: auto;
    border-color: #0DA34E;
}

#moving-div{
    /* background-color: rebeccapurple; */
    position: absolute;
    bottom: 0vh;
    width: 50%;
    padding: 1vw;
    display: flex;
    gap: 2vw;
    white-space: nowrap;
    overflow-x: hidden;
}
#moving-div .move{
    height: 4vw;
    display: inline-flex;
    justify-content: space-evenly;
    gap: 2vw;
    align-items: center;
    animation-name: moveX;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#moving-div .move img{
    height: 1.2vw;
    margin: 0 .1vw;
}
#moving-div #blur-left{
    height: 100%;
    width: 20%;
    background: linear-gradient(to left, transparent,#111);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    overflow-y:  hidden;
}
#moving-div #blur-right{
    height: 100%;
    width: 20%;
    background: linear-gradient(to left,#111, transparent);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    overflow-y:  hidden;
}

@keyframes moveX {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}


#page2{
    width: 100%;
    height: 100vh;
    background-color: #111;
    position: relative;
    padding: 6vw 10vw 6vw 11vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #0DA34E; */
}
#page2-left{
    height: 100%;
    width: 45%;
    padding-top: 2vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    border-top: 1px solid #333;
}
#page2-left p{
    font-size: 0.8vw;
}
#page2-left h5{
    font-weight: 100;
    font-size: 1.05vw;
    width: 70%;
}

#page2-right{
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 0.7vw;
}
#page2-right .right-elem {
    position: relative;
    /* height: 15vh; */
    padding: 2.3vw 0;
    border-top: 1px solid #333;
    cursor: pointer;
    
}
#page2-right .right-elem h2{
    text-transform: capitalize;
    font-weight: 100;
    font-size: 1.4vw;
}
#page2-right .right-elem img{
    position: absolute;
    top: 0;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    object-fit: cover;
    opacity: 0;
}


#page3{
    width: 100%;
    height: 100vh;
    background-color: #111;
    background-image: url(image/page3.webp);
    position: relative;
    background-size: 125%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page3 video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.7) scaleY(0);
    border-radius: 30px;
    z-index: 99;
}
.page3-center {
    /* background-color: #0DA34E; */
    border-radius: 50px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.8vw;
}
.page3-center .icon{
    background-color: white;
    padding: 3.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    
}
.page3-center .icon i{
    font-size: 2vw;
    color: black;
}
.page3-center h5{
    font-size: 1vw;
    background-color: white;
    color: black;
    padding: 0.5vw 1vw;
    border-radius: 2vw;
    text-transform: uppercase;
    opacity: 0;
    transform: translateY(20%);
    transition: all ease 0.5s;
}
.page3-center:hover h5{
    opacity: 1;
    transform: translateY(0%);
}

#page4{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10vw 6vw ;
}
.page4-left{
    width: 35%;
    height: auto;
    /* background-color: #0DA34E; */
    
}
.page4-left h1{
    color: black;
    font-size: 3.4vw;
    line-height: 3.4vw;
    text-transform: uppercase;
    font-weight: 600;
    overflow: hidden;
}
.page4-left h1 span{
    color: black;
    text-transform: capitalize;
}
.page4-right{
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 4vw;
}

.page4-right p{
    color: #b1b1b1;
    text-transform: uppercase;
    font-weight: 800;
    text-decoration: underline;
}
.page4-right .detail{
    font-size: 1.5vw;
    margin-top: 2vw;
    color: black;
}

#page5{
    width: 100%;
    height: 80vh;
    position: relative;
    padding: 0 6vw 5vw 6vw ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.7vw;
}
#page5 .elem{
    position: relative;
    width: auto;
    height: auto;
    padding: 2vw 2vw;
    border-radius: 0.5vw;
    background-color: #f0efef;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all ease 0.8s;
}
#page5 .elem:hover{
    background-color: #e2e2e2;
    scale: 1.02;
    border-radius: 1vw;
}
#page5 .elem h1{
    color: black;
    font-size: 3vw;
    text-transform: capitalize;
}
#page5 .elem p{
    color:#424242;
}
#page5 .elem .num{
    color:#696969;
    position: absolute;
    bottom: 2vw;
    right: 2vw;
}

#page6{
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    display: flex;
    flex-direction: column;
}
#page6 .section{
    width: 100%;
    height: 90vh;
    padding: 6vw 10vw 6vw 11vw ;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: #8cb39d; */
} 
#page6 .section .sec-left{
    width: 25%;
    height: 100%;
    /* background-color: rgb(108, 89, 89); */
    border-top: 1px solid #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 7vw;
    padding: 1vw 0.5vw;  
    transition: all ease 0.2s;
}
#page6 .section .sec-left:hover{
    border-top: 2px solid  #808080;
}
#page6 .section .sec-left h2{
    text-transform: capitalize;
    font-size: 2.5vw;
    font-weight: 100;   
    display: flex;
    justify-content: space-between;
}

#page6 .section .sec-left button{
    background-color: transparent;
    border: transparent;
}
#page6 .section .sec-right{
    position: relative;
    display: flex;
    align-items: baseline;
    width: 70%;
    height: 70vh;
    background-color: rgb(0, 0, 0);   
    border-top: 1px solid #333;
}
#page6 .section .sec-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page6 .section .sec-right video{
    position: absolute; 
    top: 0;
    left: 0; 
    opacity: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* transition: opacity ease 0.2s; */
}
#page6 .section .sec-right .cursor{
    background-color: #4F5BFF;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
    padding: 4vw 2.4vw;
    display: flex;
    align-items: end;
    justify-content: start;
}
#page6 .section .sec-right .cursor p{
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 900;
   width: 0;
   height: 0;
}